.pernt{
    background-color: bisque;
    width: 650px;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}
.chailed{
    background-color: bisque;
    width: 650px;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}
.new{
    background-color:aqua;
    width: 650px;
    height: 100px;
    padding: 10px;
   
}